[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.8"

[packages]
apispec = "*"
apispec_webframeworks = "*"
bcrypt = "*"
flask = "*"
marshmallow = "*"
pymongo = "*"
pyopenssl = "*"
crypto = "*"

python-jose = "*"
python-dotenv = "*"
flask-cors = "*"
six = "*"
